<div class="container">

      <div class="bloc active">
        <div class="bloc-haut">
          <div class="rond">
            <%= image_tag "noodles.svg" %>
          </div>
          <p class="titre-section">Noodles</p>
          <div class="ligne"></div>
          <p class="prix">3</p>
        </div>
        <div class="contenu">
            <%= image_tag "noodles.svg" %>
            <div class="infos">
                <h2>Japanese Noodles</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, et commodi earum eius ipsa, nulla molestiae iusto eligendi qui non nihil ab, rerum vel exercitationem.</p>
                <button>Add to order</button>
            </div>
        </div>
      </div>

      <div class="bloc">
        <div class="bloc-haut">
          <div class="rond">
            <%= image_tag "onigiri.svg" %>
          </div>
          <p class="titre-section">Onigiri</p>
          <div class="ligne"></div>
          <p class="prix">4</p>
        </div>
        <div class="contenu">
            <%= image_tag "onigiri.svg" %>
            <div class="infos">
                <h2>Onigiri</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, et commodi earum eius ipsa, nulla molestiae iusto eligendi qui non nihil ab, rerum vel exercitationem.</p>
                <button>Add to order</button>
            </div>
        </div>
      </div>

      <div class="bloc">
        <div class="bloc-haut">
          <div class="rond">
            <%= image_tag "bubble-tea.svg" %>
          </div>
          <p class="titre-section">Tea</p>
          <div class="ligne"></div>
          <p class="prix">3</p>
        </div>
        <div class="contenu">
            <%= image_tag "bubble-tea.svg" %>
            <div class="infos">
                <h2>Bubble-Tea</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, et commodi earum eius ipsa, nulla molestiae iusto eligendi qui non nihil ab, rerum vel exercitationem.</p>
                <button>Add to order</button>
            </div>
        </div>
      </div>



      <div class="bloc">
        <div class="bloc-haut">
          <div class="rond">
            <%= image_tag "maki.svg" %>
          </div>
          <p class="titre-section">Maki</p>
          <div class="ligne"></div>
          <p class="prix">7</p>
        </div>
        <div class="contenu">
            <%= image_tag "maki.svg" %>
            <div class="infos">
                <h2>Maki</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, et commodi earum eius ipsa, nulla molestiae iusto eligendi qui non nihil ab, rerum vel exercitationem.</p>
                <button>Add to order</button>
            </div>
        </div>
      </div>

      <div class="bloc">
        <div class="bloc-haut">
          <div class="rond">
            <%= image_tag "burrito.svg" %>
          </div>
          <p class="titre-section">Burrito</p>
          <div class="ligne"></div>
          <p class="prix">6</p>
        </div>
        <div class="contenu">
            <%= image_tag "burrito.svg" %>
            <div class="infos">
                <h2>Burrito</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, et commodi earum eius ipsa, nulla molestiae iusto eligendi qui non nihil ab, rerum vel exercitationem.</p>
                <button>Add to order</button>
            </div>
        </div>
      </div>

    </div>
